<%- include('partials/header.ejs') %>

<h1 class="display-5">Трекінг годин (Worksection)</h1>

<div class="container my-5">
    <form action="/dashboard" method="GET" class="row g-3 mb-4">
        <div class="col-md-4">
            <select
                class="form-select"
                name="username"
            >
                <option value="">Фільтр за користувачем</option>
                <% allDevelopers.forEach(developer => { %>
                    <option value="<%= developer.id %>" <%= filters.username === developer.id ? 'selected' : '' %>>
                        <%= developer.ws_name %>
                    </option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-4">
            <select
                class="form-select"
                name="project"
            >
                <option value="">Фільтр за проектом</option>
                <% allProjects.forEach(project => { %>
                    <option value="<%= project.id %>" <%= filters.project === project.id ? 'selected' : '' %>>
                        <%= project.name %>
                    </option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-4">
            <input
                type="date"
                class="form-control"
                placeholder="Фільтр за датою"
                name="date"
                value="<%= filters.date || '' %>"
            />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">
                Застосувати фільтри
            </button>
            <a href="/dashboard" class="btn btn-secondary ms-2"
                >Скинути фільтри</a
            >
        </div>
    </form>

    <% if (error) { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %> <% if (message) { %>
    <div class="alert alert-success" role="alert"><%= message %></div>
    <% } %>

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="col-date-custom">Дата</th>
                    <th scope="col">Користувач</th>
                    <th scope="col">Проект</th>
                    <th scope="col">Задача</th>
                    <th scope="col" class="text-end">Час</th>
                </tr>
            </thead>
            <tbody>
                <% if (trackedHours && trackedHours.length > 0) { %> <%
                trackedHours.forEach(hour => { %>
                <tr>
                    <td><%= hour.date || '' %></td>
                    <td>
                        <%= hour.developer ? hour.developer.ws_name :
                        'Невідомий' %>
                    </td>
                    <td>
                        <%= hour.task && hour.task.project ?
                        hour.task.project.name : 'Невідомий' %>
                    </td>
                    <td><%= hour.task ? hour.task.name : 'Невідома' %></td>
                    <td class="text-end"><%= hour.hours %></td>
                </tr>
                <% }); %> <% } else { %>
                <tr>
                    <td colspan="5" class="text-center">
                        Немає відстежених годин або дані відсутні.
                    </td>
                </tr>
                <% } %>

                <tr class="fw-bold table-light">
                    <td colspan="4" class="text-end">Загалом</td>
                    <td class="text-end"><%= totalTime %></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>

<%- include('partials/footer.ejs') %>