<%- include('partials/header.ejs') %>

<h1 class="display-5">Розробники</h1>
<br />
<form method="POST">
    <button type="submit" class="btn btn-primary">Оновити список розробників</button>
</form>
<br />

<% if (message) { %>
    <div class="alert alert-success" role="alert">
        <%= message %>
    </div>
<% } %>

<% if (error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>

<table class="table">
    <thead class="thead-blue">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Logo</th>
            <th scope="col">Worksection ID</th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <!-- <th scope="col">Discord ID</th> -->
        </tr>
    </thead>
    <tbody>
        <% 
        if (developers && developers.length > 0) { 
            cnt = 0;
        %>
            <% 
            developers.forEach(function(developer) { 
            cnt++;
                %>
                <tr>
                    <th scope="row"><%= cnt %></th>
                    <td>
                        <img src="<%= developer.ws_avatar || 'https://via.placeholder.com/50' %>" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" />
                    </td>
                    <td><%= developer.ws_id %></td>
                    <td><%= developer.ws_name %></td>
                    <td><%= developer.ws_title || '-' %></td>
                    <td>
                    <% if (developer.ws_email) { %>
                        <a href="mailto:<%= developer.ws_email %>"><%= developer.ws_email %></a>
                    <% } else { %>
                        -
                    <% } %>
                    </td>
                    <td>
                    <% if (developer.ws_phone) { %>
                        <a href="tel:<%= developer.ws_phone %>"><%= developer.ws_phone %></a>
                    <% } else { %>
                        -
                    <% } %>
                    </td>
                    <!-- <td><%= developer.discord_id%></td> -->
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="8" class="text-center">Немає даних про розробників для відображення.</td>
            </tr>
        <% } %>
    </tbody>
</table>

<%- include('partials/footer.ejs') %>